<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @box.name %>
</p>

<p>
  <strong>Tagname:</strong>
  <%= @box.tagname %>
</p>

<p>
  <strong>Price:</strong>
  <%= @box.price %>
</p>

<p>
  <strong>Context:</strong>
  <%= @box.context %>
</p>

<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
